# --- build output
build/
dist/
*.class

# --- thrift generated code
gen-java/
gen-py/

# --- NetBeans 
nbproject/private/
.nb-gradle/

# --- log, file tạm, rác OS ---
*.log
*.pid
nohup.out
.DS_Store
Thumbs.db

# --- SECRETS: 
**/conf/development.ini
**/conf/development.local.ini
**/conf/production.ini
**/conf/*.local.ini
**/*.pem
**/*.key

# --- IDE 
.idea/
*.iml
.vscode/

**/nbproject/private/
